@import '../../../../client/stylesheets/vars';
.filters {
		background:$grey1;
		border-left:1px solid $grey2;
		position: relative;
}
aside button {
	margin:1em;
}
form.insert {
	display: block;
	background:white;
	position:relative;
	text-align: center;
	label {
		background:$blue;
		color:white;
		width:100%;
		margin: 0 0;
		padding:.5em 1em;
		display:block;
		text-align: center;
	}
	textarea {
		width:95%;
		margin:1em 0;
		border:1px solid $grey2;
	}
}
.filter-list {
	list-style:none;
	padding: 0 0;
	margin: 0 0;
	text-align:center;
	li {
		span {
			display:block;
			background:white;
			border-top:1px solid $grey2;
			padding:.5em 2em;
			color:$grey7;
			position:relative;
		}
		img {
			width:1em;
			transition:all .2s ease-in-out;
			float:right;
			margin-top:.5em;
		}
		&.showFilter {
			form {
				max-height: 800px;
				height:100%;
				padding:.5em .7em;
			}
			img {
				transform: rotate(180deg);
			}
		}
	}
}
form.filter {
		display: flex;
		max-height: 0;
		overflow:hidden;
		transition:all .2s ease-in-out;
		justify-content: space-between;
		flex-wrap:wrap;
		text-align: left;
		label:not(.forSelect), .format {
			flex: 0 0 48%;
			padding:10px;
			margin:.5em 0;
			background:white;
			height:7em;
			display: flex;
			justify-content: center;
			align-items:center;
			border:1px solid $grey2;
			transition:all .2s ease-in-out;
		}
		.format {
			display:block;
			padding:.7em;
				label, select {
					text-align: center;
					margin:1em 0;
					display:block;
					width:100%;
					font-size:1em;
				}
				&.active {
					border:2px solid $green;
				}
			}
		& > label:last-of-type:nth-of-type(odd){
				align-self:flex-start;
			}
		input[type='submit'] {
			margin: .5em;
		}
		input[type='radio'] {
		display: none;
			&#naam:checked ~ section:first-of-type, &#geslacht:checked ~ section:first-of-type {
				border:2px solid RGBA(138, 194, 73, 1.00) !important;
			}
			&:checked + label, .geslachtWord {
				color:white;
				background:$green;
			}
		}
	}
