.storyList {
	list-style:none;
	padding: 0 0;
	li {
		a {
		display:flex;
		margin:.5em .7em;
		flex-wrap:nowrap;
		color:#666666;
		box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.15);
		text-decoration: none;
		span {
			flex:15%;
			display:flex;
			justify-content: center;
			align-items: center;
			background:#607d8b;
			color:white;
		}
		p {
			padding:1em;
			flex:80%;
			margin: 0 0;
			padding-left:1em;
		}
		time {
			flex:25%;
			display:flex;
			justify-content: center;
			align-items: center;
		}
		}
	}
}
