// 00356B
article {
	header {
		// background: linear-gradient(45deg, #879fab 0%,#607d8b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		color:#00356B;
		padding:2em 1em ;
		position:relative;
		margin-bottom:3em;
		h1 {
			margin: 0 0;
		}
		h2 {
			margin: 0 0;
			font-size:1em;
			color: #e1e7ea;
		}
	}
	p {
		padding:0 1em;
		&:first-letter {
			float: left; 
			font-size: 75px; 
			line-height: 60px; 
			padding-top: 4px; 
			padding-right: 8px; 
			padding-left: 3px;
		}
		.newPar:not(:first-of-type)::before {
			background:red;
			content:'-';
			opacity:0;
			width:100%;

			max-width: 100%;
			display:block;
		}
	}
}	