.storyList{
	list-style:none;
	padding: 0 0;
	header {
		background: #ebebeb;
		margin: 0 0;
		margin-top:-1em;
		text-align: center;
		padding:1em;
		-webkit-box-shadow: inset 0px -3px 10px 0px rgba(50, 50, 50, 0.34);
-moz-box-shadow:    inset 0px -3px 10px 0px rgba(50, 50, 50, 0.34);
box-shadow:         inset 0px -3px 10px 0px rgba(50, 50, 50, 0.34);
		h2 {
			margin: 0 0;
			font-size:1.2em;
		}
	}
	li {
		
		position: relative;
		padding-left:5em;
		height:4em;
		margin:1em 2em;
		border-bottom:1px solid #ebebeb;
		transition: all .2s ease-in-out;

		&:hover {
			background:#ebebeb;
		}
		img {
			position:absolute;
			top:0;
			left:0;
			padding:.7em;
			box-sizing:border-box;
			max-height:80%;
			max-width: 5em;
		}
		a {
			
			display: block;
			position: relative;
			text-decoration: none;
			padding:.2em;

			
			& > * {
				margin: 0 0;
				
				display: block;
				color:black;
				
			}
			p {
				
				font-size:1.1em;
			}
			time {
				color:#6c6c6c;
				text-transform: uppercase;
			}
			
		}
	}
	img {
		// max-width: 2em;
	}
}


// .storyList {
// 	list-style:none;
// 	padding: 0 1em;
// 	width:100%;
// 	box-sizing:border-box;
	
// 	li {

// 		a {
// 		display:flex;
// 		margin:.5em .7em;
// 		flex-wrap:nowrap;
// 		color:#666666;
// 		// box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.15);
// 		text-decoration: none;
// 		& > * {
// 			border:1px solid red;
// 			padding:.5em;
// 			height: 1em;
// 		}
// 		img {
// 			max-width: 1em;
// 			display: inline-block;
// 			flex:10%;
// 		}
// 		p {
			
// 			flex:80%;
// 			margin: 0 0;
// 			padding-left:1em;
// 		}
// 		time {
// 			flex:25%;
// 			display:flex;
			
// 			justify-content: center;
// 			align-items: center;
// 		}
// 		}
// 	}
// }
