// 00356B
article {
	position:relative;
	padding:0 1em;
	clear:both;
	header {
		// background: linear-gradient(45deg, #879fab 0%,#607d8b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		color:#00356B;
		padding:1em 0em ;
		clear: both;
		position:relative;
		margin-bottom:3em;
		h1 {
			margin: 0 0;
		}
		h2 {
			margin: 0 0;
			font-size:1em;
			color: #e1e7ea;
		}
	}
	h4 {
		position:relative;
		display: block;
	}
	& > p {
		max-width: 30em;
		display: inline;
		position:relative;
		text-decoration: none;
		transition:all .2s ease-in-out;
		
		
	}
}	
br {
   display: block;
   height:1em;
   max-width:10em;
   
   content: ' ';
}
.move .movingAround {
	display:block;
}
.movingAround {
	
	position:absolute;
	top:0;
	right:0;
	font-size:1em;
	padding: 0 0;
	list-style:none;
	background:#607d8b;
	margin: 0 0;
	display:none;
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);

	li {
		display: inline-block;
		padding:.5em;
		float:left;
		border:none;
		display: flex;
		justify-content: center;
		align-items:center;
		color:white;
		font-family: 'Istok Web', sans-serif;
		
		
		
		&.up {
			img {
				transform: rotate(90deg)
			}
		}
		&.down {
			img {
				transform: rotate(-90deg)
			}
		}
	}
	img {
		max-width: 1em;
	}
}
