// 00356B
article {
	position:relative;
	padding:0 1em;
	header {
		color:#00356B;
		padding:1em 0em ;
		clear: both;
		position:relative;
		margin-bottom:3em;
		h1 {
			margin: 0 0;
		}
		h2 {
			margin: 0 0;
			font-size:1em;
			color: #e1e7ea;
		}
	}
	h4 {
		position:relative;
		display: block;
		
	}
	& > p {
		max-width: 30em;
		display: inline;
		position:relative;
		&:first-of-type {
			display:inline;
			&::first-letter {
				float: left; 
			font-size: 75px; 
			line-height: 60px; 
			padding-top: 4px; 
			padding-right: 8px; 
			padding-left: 3px;
			}
		}
		
		
		span {
			transition:all .2s ease-in-out;
		}
		&.aboutToBeDeleted {
			text-decoration: line-through;
		}
		&.aboutToBeEdited {
			background: #f5f5f5;
			
			color:#7f7f7f
		}
	}
}	
br {
   display: block;
   font-size: 1em;
   height:1em;
   
   content: ' ';
   position:relative;
}

.movingAround {
	
	position:absolute;
	top:0;
	right:0;
	font-size:1em;
	padding: 0 0;
	list-style:none;
	background:#607d8b;
	margin: 0 0;

	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);

	li {
		display: inline-block;
		padding:.5em;
		float:left;
		border:none;
		display: flex;
		justify-content: center;
		align-items:center;
		color:white;
		font-family: 'Istok Web', sans-serif;
		
		
		
		&.up {
			img {
				transform: rotate(90deg)
			}
		}
		&.down {
			img {
				transform: rotate(-90deg)
			}
		}
	}
	img {
		max-width: 1em;
	}
}

br, h4, p {
	&.aboutToBeDeleted {
			text-decoration: line-through;
		}
	&.aboutToBeEdited {
		background: #f5f5f5;
		
		color:#7f7f7f
	}
}
br {
	&.aboutToBeDeleted {
		background:#ebebeb
	}
	&.aboutToBeEdited {
		background: #f5f5f5;
		
		color:#7f7f7f
	}
}