/* line 4, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
nav.user {
  box-shadow: 0px 5px 14px 0px rgba(50, 50, 50, 0.15);
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  padding: 0.7em;
  justify-content: space-between;
  color: #666666; }
  /* line 14, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
  nav.user > a {
    display: inline-block;
    position: relative;
    height: 1.5em;
    width: 1.5em; }
    /* line 19, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
    nav.user > a img {
      height: 100%;
      top: 0;
      left: 0;
      position: absolute; }
  /* line 26, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
  nav.user p {
    display: block;
    height: 1.5em;
    margin: 0 0; }
  /* line 31, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
  nav.user ul {
    display: none; }

/* line 35, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
nav.admin {
  background: #1c1c1c;
  position: fixed;
  top: 0;
  left: -9em;
  font-size: 1em;
  z-index: 10;
  height: 100%;
  box-shadow: 5px 0px 14px 0px rgba(50, 50, 50, 0.24);
  transition: left 0.2s ease-in-out; }
  /* line 45, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
  nav.admin:hover {
    left: 0em; }
  /* line 48, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
  nav.admin ul {
    padding: 0 0;
    list-style-type: none; }
    /* line 53, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
    nav.admin ul li:not(:first-of-type) a {
      border-top: 1px solid #262626; }
    /* line 57, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
    nav.admin ul li.active a {
      background: #607d8b; }
      /* line 59, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
      nav.admin ul li.active a:hover {
        background: #6b8a99;
        border-color: #6b8a99; }
    /* line 67, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
    nav.admin ul li a {
      display: block;
      text-align: center;
      background: #1c1c1c;
      position: relative;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      width: 12em;
      padding: 1em; }
      /* line 84, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
      nav.admin ul li a img {
        width: 1.2em;
        transition: transform 0.2s ease-in-out;
        float: right; }
      /* line 89, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
      nav.admin ul li a span {
        font-size: 0.9em;
        color: #d6d6d6; }
      /* line 94, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
      nav.admin ul li a:hover {
        background: #607d8b;
        border-color: #607d8b; }
        /* line 97, /Users/Schuurmans/GitHub/CONtext/app/imports/template/header */
        nav.admin ul li a:hover img {
          transform: scale(1.2); }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/user/user */
.user-wrapper {
  display: flex;
  min-height: 80vh;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative; }
  /* line 9, /Users/Schuurmans/GitHub/CONtext/app/imports/user/user */
  .user-wrapper button {
    width: 80%; }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
.start-wrapper {
  height: 100vh;
  box-sizing: border-box;
  padding: 0 0; }
  /* line 5, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  .start-wrapper .loginRegister-wrapper {
    height: 0;
    overflow: hidden;
    opacity: 0; }
  /* line 10, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  .start-wrapper .overlay {
    height: 100%;
    box-sizing: border-box;
    background: #607d8b;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 0.05s ease-in-out;
    transition-delay: 0.5s; }
    /* line 21, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
    .start-wrapper .overlay h1 {
      margin: 0 0;
      flex: 0%;
      text-align: left;
      padding: 0.5em;
      max-width: 10em;
      display: inline;
      margin: 0 auto; }
    /* line 31, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
    .start-wrapper .overlay p.writer {
      margin: 0 0; }
    /* line 36, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
    .start-wrapper .overlay .img-wrapper {
      flex: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      /* line 41, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
      .start-wrapper .overlay .img-wrapper img {
        width: 15em;
        height: 15em;
        transform: scale(0.3);
        margin: -3em auto -3em;
        border: 3px solid white;
        border-radius: 100%;
        animation-name: fingerprint;
        padding: 0;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        background: #607d8b;
        animation-direction: alternate;
        transition: background 0.05s; }
  /* line 59, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  .start-wrapper.showLogin .overlay {
    height: 0;
    overflow: hidden;
    padding: 0; }
    /* line 63, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
    .start-wrapper.showLogin .overlay img {
      animation-name: resize;
      background: white;
      border: none;
      animation-duration: 1.5s;
      animation-iteration-count: 1; }
  /* line 71, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  .start-wrapper.showLogin .loginRegister-wrapper {
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
    transition-delay: 0.5s;
    padding: 2em;
    color: #00356B;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box; }
    /* line 84, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
    .start-wrapper.showLogin .loginRegister-wrapper h2 {
      margin: 0 0; }

@keyframes resize {
  /* line 144, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  0% {
    transform: scale(1); }

  /* line 145, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  100% {
    transform: scale(30); } }

@keyframes fingerprint {
  /* line 148, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  0% {
    transform: scale(0.3); }

  /* line 149, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  10% {
    transform: scale(0.35); }

  /* line 150, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  30% {
    transform: scale(0.3); }

  /* line 151, /Users/Schuurmans/GitHub/CONtext/app/imports/start/start */
  100% {
    transform: scale(0.3); } }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
.storyList {
  list-style: none;
  padding: 0 0; }
  /* line 4, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
  .storyList header {
    background: #ebebeb;
    margin: 0 0;
    margin-top: -1em;
    text-align: center;
    padding: 1em;
    -webkit-box-shadow: inset 0px -3px 10px 0px rgba(50, 50, 50, 0.34);
    -moz-box-shadow: inset 0px -3px 10px 0px rgba(50, 50, 50, 0.34);
    box-shadow: inset 0px -3px 10px 0px rgba(50, 50, 50, 0.34); }
    /* line 13, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
    .storyList header h2 {
      margin: 0 0;
      font-size: 1.2em; }
  /* line 18, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
  .storyList li {
    position: relative;
    padding-left: 5em;
    height: 4em;
    margin: 1em 2em;
    border-bottom: 1px solid #ebebeb;
    transition: all 0.2s ease-in-out; }
    /* line 27, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
    .storyList li:hover {
      background: #ebebeb; }
    /* line 30, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
    .storyList li img {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.7em;
      box-sizing: border-box;
      max-height: 80%;
      max-width: 5em; }
    /* line 39, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
    .storyList li a {
      display: block;
      position: relative;
      text-decoration: none;
      padding: 0.2em; }
      /* line 47, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
      .storyList li a > * {
        margin: 0 0;
        display: block;
        color: black; }
      /* line 54, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
      .storyList li a p {
        font-size: 1.1em; }
      /* line 58, /Users/Schuurmans/GitHub/CONtext/app/imports/story/stories */
      .storyList li a time {
        color: #6c6c6c;
        text-transform: uppercase; }

/* line 2, /Users/Schuurmans/GitHub/CONtext/app/imports/story/story */
article {
  position: relative;
  padding: 0 1em;
  clear: both; }
  /* line 6, /Users/Schuurmans/GitHub/CONtext/app/imports/story/story */
  article header {
    color: #00356B;
    padding: 1em 0em;
    clear: both;
    position: relative;
    margin-bottom: 3em; }
    /* line 13, /Users/Schuurmans/GitHub/CONtext/app/imports/story/story */
    article header h1 {
      margin: 0 0; }
    /* line 16, /Users/Schuurmans/GitHub/CONtext/app/imports/story/story */
    article header h2 {
      margin: 0 0;
      font-size: 1em;
      color: #e1e7ea; }
  /* line 22, /Users/Schuurmans/GitHub/CONtext/app/imports/story/story */
  article h4 {
    position: relative;
    display: block; }
  /* line 26, /Users/Schuurmans/GitHub/CONtext/app/imports/story/story */
  article section > p {
    max-width: 30em;
    display: inline;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }

/* line 36, /Users/Schuurmans/GitHub/CONtext/app/imports/story/story */
br {
  display: block;
  height: 1em;
  max-width: 10em;
  content: ' '; }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
.addToTest {
  display: block; }

/* line 6, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
main.admin {
  height: 100%; }
  /* line 9, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
  main.admin > header {
    padding: 1em; }

/* line 17, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
ul.tabs {
  margin: 0 auto;
  padding: 0 0;
  max-width: 60em;
  list-style-type: none; }
  /* line 25, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
  ul.tabs li {
    margin: 3em auto;
    display: inline-block;
    background: #f5f5f5;
    border-top: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    padding: 0.5em 2em;
    margin: 0 0;
    margin-right: -0.5em;
    transition: all 0.2s ease-in-out; }
    /* line 39, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
    ul.tabs li.active {
      background: #607d8b;
      color: white;
      border-color: #607d8b;
      box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.15); }

/* line 50, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
.templateSelected {
  border-top: 1px solid #EBEBEB;
  margin: 0 auto;
  background: #f5f5f5;
  z-index: 1;
  padding: 2em;
  text-align: left;
  max-width: 60em; }
  /* line 59, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
  .templateSelected h2 {
    margin: 1em 0; }
  /* line 62, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
  .templateSelected button {
    padding: 0.5em 1em;
    font-size: 1em;
    margin: 0.5em; }
  /* line 69, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
  .templateSelected h2 {
    margin: 0 0; }
  /* line 72, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
  .templateSelected form {
    margin: 1em 0; }
    /* line 75, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
    .templateSelected form input[type='number'] {
      max-width: 5em;
      text-align: center; }
    /* line 80, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
    .templateSelected form input[type='checkbox']:checked ~ div {
      display: inline-block; }
    /* line 86, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
    .templateSelected form ul {
      list-style: none;
      padding: 0 0;
      margin: 1em 0; }
      /* line 90, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
      .templateSelected form ul li {
        padding: 0.5em 1em;
        display: block; }
        /* line 94, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
        .templateSelected form ul li:nth-of-type(odd) {
          background: white; }
        /* line 97, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
        .templateSelected form ul li .selects {
          display: none;
          float: right; }
          /* line 100, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
          .templateSelected form ul li .selects select {
            font-size: 1em; }

/* line 110, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
.testplan {
  padding: 1em; }
  /* line 112, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
  .testplan > ul {
    list-style: none;
    padding: 0 0; }
    /* line 116, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
    .testplan > ul > li {
      box-sizing: border-box; }
      /* line 119, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
      .testplan > ul > li > * {
        margin: 1em; }
      /* line 124, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
      .testplan > ul > li:nth-of-type(odd) {
        background: white; }
      /* line 128, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
      .testplan > ul > li ul {
        list-style: none;
        float: right;
        padding: 0 0;
        display: inline-block; }
        /* line 134, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
        .testplan > ul > li ul li {
          margin: 0 0.5em;
          transition: 0.2s ease-in-out;
          border-bottom: 3px solid rgba(2, 2, 2, 0);
          display: inline-block; }
          /* line 141, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
          .testplan > ul > li ul li.currentStory {
            border-bottom: 3px solid #607d8b; }
          /* line 145, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/admin */
          .testplan > ul > li ul li span {
            font-weight: 700; }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
#changeAdminSettings {
  background: #607d8b;
  position: absolute;
  right: 1em;
  top: 1em;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3px; }
  /* line 11, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
  #changeAdminSettings img {
    max-height: 1em;
    vertical-align: middle;
    margin-right: 0.5em; }

/* line 18, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
form.dataList, form.newWords {
  padding-bottom: 2em;
  max-width: 35em;
  background: #F2F2F2;
  margin: 0 auto;
  text-align: center; }
  /* line 24, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
  form.dataList ul, form.newWords ul {
    padding: 0 0;
    text-align: left;
    list-style-type: none; }
    /* line 29, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
    form.dataList ul *:first-letter, form.newWords ul *:first-letter {
      text-transform: uppercase; }
    /* line 32, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
    form.dataList ul > li, form.newWords ul > li {
      background: #F2F2F2;
      border-top: 1px solid #EBEBEB;
      padding: 1em 2em; }
      /* line 37, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
      form.dataList ul > li > span, form.newWords ul > li > span {
        color: #4e7789; }
      /* line 41, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
      form.dataList ul > li ul, form.newWords ul > li ul {
        list-style: none;
        border: 1px solid #EBEBEB;
        padding: 0 0;
        margin-top: 0.6em; }
        /* line 46, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
        form.dataList ul > li ul li, form.newWords ul > li ul li {
          padding: 1em;
          background: white; }
          /* line 49, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
          form.dataList ul > li ul li input[type='text'], form.newWords ul > li ul li input[type='text'] {
            font-size: 0.9em;
            padding: 0.2em 0.5em; }
        /* line 56, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
        form.dataList ul > li ul.geslacht li input[type='text']:nth-of-type(odd), form.newWords ul > li ul.geslacht li input[type='text']:nth-of-type(odd) {
          float: right;
          text-align: right; }
        /* line 60, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
        form.dataList ul > li ul.geslacht p, form.newWords ul > li ul.geslacht p {
          padding: 0 0.5em; }
          /* line 63, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
          form.dataList ul > li ul.geslacht p span:nth-of-type(odd), form.newWords ul > li ul.geslacht p span:nth-of-type(odd) {
            float: right; }
        /* line 71, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
        form.dataList ul > li ul.dataList span, form.newWords ul > li ul.dataList span {
          color: #898989; }
        /* line 74, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
        form.dataList ul > li ul.dataList input[type='text'], form.newWords ul > li ul.dataList input[type='text'] {
          float: right; }

/* line 86, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
form.newWords {
  padding: 1em; }
  /* line 89, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
  form.newWords h3 {
    margin-top: 0; }
  /* line 92, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
  form.newWords input[type='text'] {
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    margin: 1em 0 2em; }
  /* line 98, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/settings/settings */
  form.newWords input[type='submit'] {
    margin: 0 auto;
    display: block; }

/* line 2, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
.deleting article p *:hover {
  text-decoration: line-through; }

/* line 5, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
.deleting article p * {
  text-decoration: line-through; }

/* line 8, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
.editing article p.par:hover {
  background: #f5f5f5;
  text-decoration: underline; }

/* line 13, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
.editing .aboutToBeEdited {
  background: #f5f5f5;
  display: inline-block;
  text-decoration: none; }

/* line 20, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
.admin-edit-story-wrapper aside {
  position: relative;
  background: #f5f5f5;
  border-left: 1px solid #EBEBEB;
  position: relative;
  float: left;
  width: 170px;
  top: 0px;
  bottom: 0px; }
  /* line 29, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
  .admin-edit-story-wrapper aside button {
    background: #ca2140;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    color: white;
    margin: 0.5em auto; }
  /* line 37, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
  .admin-edit-story-wrapper aside #storySettings {
    background: #ca2140;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    display: block;
    height: 1em; }
    /* line 45, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
    .admin-edit-story-wrapper aside #storySettings img {
      width: 1em;
      margin-right: 1em;
      vertical-align: middle; }
  /* line 52, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
  .admin-edit-story-wrapper aside .filters ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0; }
    /* line 57, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
    .admin-edit-story-wrapper aside .filters ul li span {
      display: block;
      background: white;
      border-top: 1px solid #EBEBEB;
      padding: 0.5em 2em;
      color: #939393;
      position: relative; }
    /* line 65, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
    .admin-edit-story-wrapper aside .filters ul li img {
      width: 1em;
      transition: all 0.2s ease-in-out;
      float: right;
      margin-top: 0.5em; }
    /* line 72, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
    .admin-edit-story-wrapper aside .filters ul li.showFilter form {
      max-height: 800px;
      padding: 0.5em; }
    /* line 76, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
    .admin-edit-story-wrapper aside .filters ul li.showFilter img {
      transform: rotate(180deg); }
    /* line 81, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
    .admin-edit-story-wrapper aside .filters ul form {
      display: flex;
      margin: 0 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      box-sizing: border-box; }
      /* line 93, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
      .admin-edit-story-wrapper aside .filters ul form label:not(.forSelect), .admin-edit-story-wrapper aside .filters ul form section {
        width: 49%;
        height: 100px;
        flex: 0 0 47%;
        padding: 10px;
        margin-bottom: 0.5em;
        background: white;
        height: 7em;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #ebebeb;
        transition: all 0.2s ease-in-out; }
      /* line 109, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
      .admin-edit-story-wrapper aside .filters ul form section {
        display: block;
        padding: 0.7em; }
        /* line 112, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
        .admin-edit-story-wrapper aside .filters ul form section label, .admin-edit-story-wrapper aside .filters ul form section select {
          text-align: center;
          margin: 1em 0;
          display: block;
          width: 100%;
          font-size: 1em; }
        /* line 119, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
        .admin-edit-story-wrapper aside .filters ul form section.active {
          border: 2px solid RGBA(138, 194, 73, 1) !important; }
      /* line 123, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
      .admin-edit-story-wrapper aside .filters ul form label::last-of-type:nth-of-type(odd) {
        margin-left: 2%;
        margin-right: 2%;
        align-self: flex-start; }
      /* line 128, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
      .admin-edit-story-wrapper aside .filters ul form select:onfocus {
        background: black; }
      /* line 131, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
      .admin-edit-story-wrapper aside .filters ul form input[type='submit'] {
        background: #ca2140;
        width: 100%;
        clear: both;
        margin: 0.5em auto; }
      /* line 137, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
      .admin-edit-story-wrapper aside .filters ul form input[type='radio'] {
        display: none; }
        /* line 139, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
        .admin-edit-story-wrapper aside .filters ul form input[type='radio']#naam:checked ~ section:first-of-type, .admin-edit-story-wrapper aside .filters ul form input[type='radio']#geslacht:checked ~ section:first-of-type {
          border: 2px solid RGBA(138, 194, 73, 1) !important; }
        /* line 142, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
        .admin-edit-story-wrapper aside .filters ul form input[type='radio']:checked + label, .admin-edit-story-wrapper aside .filters ul form input[type='radio'] .geslachtWord {
          color: white;
          background: RGBA(138, 194, 73, 1); }
  /* line 149, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
  .admin-edit-story-wrapper aside .filters .newParagraph, .admin-edit-story-wrapper aside .filters .newHeading {
    display: block;
    background: white;
    margin: 1em 0;
    box-sizing: border-box;
    position: relative;
    text-align: center; }
    /* line 156, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
    .admin-edit-story-wrapper aside .filters .newParagraph header, .admin-edit-story-wrapper aside .filters .newHeading header {
      background: #607d8b;
      color: white;
      width: 100%;
      margin: 0 0;
      padding: 0.5em 1em;
      display: block;
      text-align: center; }
    /* line 165, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/filters/filters */
    .admin-edit-story-wrapper aside .filters .newParagraph textarea, .admin-edit-story-wrapper aside .filters .newHeading textarea {
      width: 95%;
      margin: 1em 0;
      box-sizing: border-box !important;
      border: 1px solid #ebebeb; }

/* line 2, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
main.admin .admin-edit-story-wrapper {
  min-height: 10em;
  height: 100%;
  padding-right: 30em;
  position: relative;
  box-sizing: border-box; }
  /* line 9, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
  main.admin .admin-edit-story-wrapper article {
    flex: 50%; }
    /* line 12, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    main.admin .admin-edit-story-wrapper article h4.deleting, main.admin .admin-edit-story-wrapper article p.deleting {
      text-decoration: line-through; }
    /* line 15, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    main.admin .admin-edit-story-wrapper article h4.editing, main.admin .admin-edit-story-wrapper article p.editing {
      background: #f5f5f5;
      color: #7f7f7f; }
    /* line 20, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    main.admin .admin-edit-story-wrapper article br {
      border: 2px solid #bababa;
      margin: 0 auto;
      padding-top: 0.5em; }
      /* line 24, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
      main.admin .admin-edit-story-wrapper article br.deleting {
        background: #bababa; }
  /* line 29, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
  main.admin .admin-edit-story-wrapper aside {
    top: 0;
    right: 0;
    text-align: center;
    overflow-x: hidden;
    width: 30em;
    position: fixed; }
    /* line 36, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    main.admin .admin-edit-story-wrapper aside .storySettings {
      top: 2.2em;
      left: -100%; }
      /* line 39, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
      main.admin .admin-edit-story-wrapper aside .storySettings.active {
        left: 0; }
    /* line 43, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    main.admin .admin-edit-story-wrapper aside .filters {
      top: 2.2em;
      right: -100%; }
      /* line 46, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
      main.admin .admin-edit-story-wrapper aside .filters.active {
        right: 0; }
    /* line 50, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    main.admin .admin-edit-story-wrapper aside #storySettings {
      top: 0;
      height: 2.2em; }
    /* line 54, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    main.admin .admin-edit-story-wrapper aside .storySettings, main.admin .admin-edit-story-wrapper aside .filters, main.admin .admin-edit-story-wrapper aside #storySettings {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      transition: all 0.2s ease-in-out; }

/* line 64, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
.popup.confirm section {
  padding: 1em;
  height: 70%;
  position: relative; }
/* line 70, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
.popup.confirm button {
  position: absolute;
  bottom: 1em; }
  /* line 73, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
  .popup.confirm button:nth-of-type(odd) {
    right: 1em; }
  /* line 76, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
  .popup.confirm button:nth-of-type(even) {
    right: 5em; }

/* line 82, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
ul.editList {
  list-style: none;
  padding: 0 0;
  margin: 0.5em;
  margin-bottom: 2em;
  z-index: 2;
  clear: both;
  display: inline-block;
  float: right; }
  /* line 92, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
  ul.editList li {
    display: inline-block; }
    /* line 95, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    ul.editList li a {
      display: block;
      box-sizing: border-box;
      padding: 0.5em 1em;
      border-radius: 20px;
      background: #ca2140;
      color: white;
      transition: all 0.2s ease-in-out;
      z-index: 5;
      border: 1px solid rgba(0, 0, 0, 0);
      text-decoration: none; }
      /* line 107, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
      ul.editList li a.during {
        background: #f5f5f5;
        border: 1px solid #EBEBEB;
        color: grey; }

/* line 115, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
.movingAround {
  font-size: 1em;
  padding: 0 0;
  list-style: none;
  margin: 0 0;
  display: inline-block; }
  /* line 122, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
  .movingAround p {
    float: left;
    display: inline-block;
    padding: 0 0;
    margin: 0 0; }
  /* line 128, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
  .movingAround li {
    float: left;
    display: inline-block;
    border: none;
    padding: 0 0;
    margin: 0 0;
    font-family: 'Istok Web', sans-serif;
    background: #607d8b;
    padding: 0.2em; }
    /* line 137, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    .movingAround li.up {
      margin-left: 0.2em; }
      /* line 139, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
      .movingAround li.up img {
        transform: rotate(90deg); }
    /* line 144, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
    .movingAround li.down {
      margin-right: 0.2em; }
      /* line 146, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
      .movingAround li.down img {
        transform: rotate(-90deg); }
  /* line 153, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/story/story */
  .movingAround img {
    max-width: 1.2em; }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
.newChapter {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }
  /* line 9, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
  .newChapter input[type='text'] {
    padding: 0.5em;
    flex: 70%;
    font-size: 1em; }
  /* line 15, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
  .newChapter input[type='submit'] {
    flex: 20%;
    max-width: 10em; }

/* line 21, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
p.adminMessage {
  margin: 0 auto;
  max-width: 30em; }

/* line 25, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
.storyListAdmin {
  max-width: 60em;
  margin: 0 auto;
  list-style: none;
  padding: 0 0; }
  /* line 30, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
  .storyListAdmin li.multi {
    padding: 0.5em 2em; }
    /* line 32, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
    .storyListAdmin li.multi ul {
      display: block;
      list-style: none; }
      /* line 37, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
      .storyListAdmin li.multi ul li {
        margin: 0 4em;
        display: block; }
        /* line 41, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
        .storyListAdmin li.multi ul li > a {
          display: block;
          position: relative;
          padding: 0.7em 2em;
          box-sizing: border-box; }
          /* line 46, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
          .storyListAdmin li.multi ul li > a:hover {
            background: #ebebeb; }
          /* line 49, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
          .storyListAdmin li.multi ul li > a span {
            color: #313131;
            font-size: 0.8em; }
          /* line 54, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
          .storyListAdmin li.multi ul li > a a {
            padding: 0 0;
            margin: 0 0;
            display: block;
            vertical-align: middle;
            height: 100%; }
            /* line 60, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
            .storyListAdmin li.multi ul li > a a img {
              margin-top: -0.5em; }
        /* line 66, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
        .storyListAdmin li.multi ul li:nth-of-type(odd) a {
          background: #ebebeb; }
    /* line 72, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
    .storyListAdmin li.multi img {
      margin-right: 0.5em; }
  /* line 79, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
  .storyListAdmin li.single:hover {
    background: #ebebeb; }
  /* line 83, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
  .storyListAdmin > li {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    transition: all 0.2s ease-in-out;
    padding: 0.5em 0; }
    /* line 88, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
    .storyListAdmin > li p {
      padding: 1em 4em; }
    /* line 91, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
    .storyListAdmin > li a, .storyListAdmin > li p {
      position: relative;
      padding: 0.5em 2em; }
    /* line 97, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
    .storyListAdmin > li img {
      box-sizing: border-box;
      height: 2em;
      vertical-align: middle;
      padding: 0.3em 1em; }
    /* line 104, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
    .storyListAdmin > li a:not(.delete), .storyListAdmin > li p {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: black; }
      /* line 111, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
      .storyListAdmin > li a:not(.delete) img, .storyListAdmin > li p img {
        display: inline-block;
        margin-right: 0.5em; }
      /* line 115, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
      .storyListAdmin > li a:not(.delete) p, .storyListAdmin > li p p {
        display: inline-block;
        margin: 0 0; }
    /* line 120, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/stories */
    .storyListAdmin > li a.delete {
      float: right;
      height: 100%;
      display: inline-block; }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
.storySettings {
  background: #f5f5f5;
  margin: 0 0;
  padding: 1em; }
  /* line 5, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
  .storySettings section {
    background: white;
    display: flex;
    margin: 0.5em 0;
    border: 1px solid #ebebeb;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 1em; }
    /* line 15, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
    .storySettings section p {
      flex: 100%;
      margin: 0 0;
      text-align: center;
      margin: 1.5em 0 0.5em; }
    /* line 21, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
    .storySettings section label {
      flex: 92%; }
    /* line 24, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
    .storySettings section select {
      flex: 30%;
      margin: 0.3em;
      font-size: 1em; }
    /* line 29, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
    .storySettings section label[for='format'] {
      flex: 10%;
      margin: 0.3em; }
    /* line 33, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
    .storySettings section input[type='checkbox'] {
      flex: 5%;
      box-sizing: border-box;
      margin-bottom: 2em; }
    /* line 38, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
    .storySettings section input[type='text'] {
      flex: 100%;
      margin: 0.5em 0 1.5em; }
      /* line 41, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
      .storySettings section input[type='text']::-webkit-input-placeholder {
        text-transform: none; }
    /* line 45, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
    .storySettings section input[type='radio'] {
      display: none; }
      /* line 47, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
      .storySettings section input[type='radio'] + label {
        background: white;
        display: inline-block;
        flex: 40%;
        margin: 0.7em 0 1.5em;
        height: 7em;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #ebebeb;
        transition: all 0.2s ease-in-out; }
        /* line 60, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
        .storySettings section input[type='radio'] + label:nth-of-type(even) {
          margin-right: 0.5em; }
        /* line 63, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
        .storySettings section input[type='radio'] + label:nth-of-type(odd) {
          margin-left: 0.5em; }
      /* line 67, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
      .storySettings section input[type='radio']:checked + label {
        color: white;
        background: RGBA(138, 194, 73, 1); }
    /* line 72, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
    .storySettings section select {
      font-size: 1em; }

/* line 79, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
section.popup form {
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 1em 0.5em;
  text-align: left; }
  /* line 86, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
  section.popup form label {
    display: block;
    margin: 0.5em 0;
    text-align: left; }
  /* line 91, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
  section.popup form input[type='text'] {
    font-size: 1em;
    width: 80%;
    padding: 0.2em 0.5em;
    margin: 0 0;
    text-align: left;
    margin-left: 0; }
  /* line 99, /Users/Schuurmans/GitHub/CONtext/app/imports/admin/stories/storySettings/storySettings */
  section.popup form input[type='submit'] {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em; }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/login/login */
.login-wrapper {
  position: relative; }

/* line 12, /Users/Schuurmans/GitHub/CONtext/app/imports/login/login */
button.social-login {
  font-size: 1em;
  border: 1px solid #607d8b;
  background: #607d8b !important;
  color: white;
  box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.15);
  display: block;
  padding: 0.7em;
  margin: 0 auto;
  transition: 0.2s ease-in-out; }
  /* line 23, /Users/Schuurmans/GitHub/CONtext/app/imports/login/login */
  button.social-login img {
    max-height: 1em;
    vertical-align: text-top;
    padding: 0 0;
    float: left;
    margin: 0 0.5em; }

/* line 1, /Users/Schuurmans/GitHub/CONtext/app/imports/template/footer */
footer {
  text-align: center; }

/* line 5, /Users/Schuurmans/GitHub/CONtext/app/imports/template/footer */
.testButton {
  margin: 5em auto; }

/* line 9, /Users/Schuurmans/GitHub/CONtext/app/imports/template/footer */
.test_done_wrapper {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }
  /* line 21, /Users/Schuurmans/GitHub/CONtext/app/imports/template/footer */
  .test_done_wrapper > * {
    margin: 0 0;
    display: block; }

/* line 3, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
html {
  height: 100%; }

/* line 6, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
body {
  height: 100%; }

/* line 10, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
body, html {
  background: white;
  padding: 0 0;
  margin: 0 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box; }

/* line 23, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
body {
  position: relative; }

/* line 27, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
article {
  padding: 1em;
  max-width: 30em;
  margin: 0 auto; }
  /* line 31, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
  article p {
    font-size: 1.1em;
    font-family: 'Crimson Text', serif; }

/* line 36, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  font-weight: inherit;
  line-height: 1.2; }

/* line 41, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

/* line 46, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
h1 {
  margin-top: 0;
  font-size: 3.157em; }

/* line 50, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
h2 {
  font-size: 2.369em; }

/* line 51, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
h3 {
  font-size: 1.777em; }

/* line 52, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
h4 {
  font-size: 1.333em; }

/* line 53, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
nav ul {
  margin: 0 0; }

/* line 58, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
main {
  margin: 0 0; }

/* line 61, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
main.admin {
  margin-left: 3.5em;
  box-sizing: border-box; }
  /* line 64, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
  main.admin header {
    max-width: 60em;
    margin: 0 auto;
    padding: 2em; }

/* line 72, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
input[type='submit'], button {
  background: #607d8b;
  font-size: 1em;
  padding: 0.5em 1em;
  color: white;
  border-radius: 3px;
  box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.15);
  border: none; }

/* line 81, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
.message.hide {
  opacity: 0; }

/* line 85, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
section.popup {
  display: none;
  background: white;
  position: fixed;
  width: 50vw;
  border: none;
  height: 30vw;
  box-sizing: border-box;
  z-index: 9;
  top: 50%;
  left: 45%;
  margin-top: -25vw;
  margin-left: -15vw;
  padding: 0 0;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.8); }
  /* line 101, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
  section.popup.active {
    display: block; }
  /* line 104, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
  section.popup header {
    background: #607d8b;
    width: 100%;
    padding: 0.7em;
    text-align: left;
    box-sizing: border-box; }
    /* line 112, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
    section.popup header h3 {
      margin: 0 0;
      color: white;
      display: inline-block;
      font-size: 1.2em; }
    /* line 119, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
    section.popup header img {
      max-height: 1em;
      display: inline-block;
      float: right; }

/* line 127, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
input {
  font-size: 1em; }

/* line 131, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
.waiting-wrapper {
  background: white;
  z-index: 10;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 143, /Users/Schuurmans/GitHub/CONtext/app/imports/template/layout */
  .waiting-wrapper img {
    opacity: 1;
    padding: 1em; }
