$darkblue: #364d63;
$darkgrey: RGBA(44, 62, 80, 1.00);
html {
  height:100%;
}
body {
  height:100%;
}

body, html {
  background:white;
  padding: 0 0;
  margin: 0 0;
  font-size:1em;
  font-weight:400;
  line-height:1.45;
  color:#333; 
  width:100%;
  
  font-family: 'Istok Web', sans-serif;
  box-sizing:border-box;
}
body {
  position:relative;
}
article p, article h1 {
  font-family: 'Libre Baskerville', serif;

}
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: 1.2;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 3.157em;
}
h2 {font-size: 2.369em;}
h3 {font-size: 1.777em;}
h4 {font-size: 1.333em;}
nav ul {
  margin: 0 0;
}

main { 
  margin: 0 0;
}
main.admin {
  margin-left:3.5em;
  box-sizing:border-box;
  
}
input[type='submit'] {
  background:#607d8b;
  font-size:1em;
  padding:.5em 1em;
  color:white;
  border-radius:3px;
  box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.15);
  border:none;
}
.message.hide {
  opacity:0;
}

section.popup {
  display: none;
  background:white;
  position: fixed;
  width:50vw;
  border:none;
  height:30vw;
  box-sizing:border-box;
  z-index:9;
  top: 50%;
  left: 45%;
  margin-top: -25vw; 
  margin-left: -15vw;
  padding: 0 0;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.8);
  
  &.active {
    display: block;
  }
  header {
    background: #607d8b;
    width:100%;
    padding:.7em;
    text-align: left;
    box-sizing:border-box;


    h3 {
      margin: 0 0;
      color:white;
      display: inline-block;
      font-size: 1.2em;
    }

    img {
      max-height: 1em;
      display: inline-block;
      float:right;
    }
  }
}
