.start-wrapper {
height:100vh;
box-sizing:border-box;
padding: 0 0;
	.loginRegister-wrapper {
		height:0 ;
		overflow: hidden;
		opacity:0;
	}
	.overlay {
		height:100%;
		box-sizing:border-box;
		background:#607d8b;
		text-align:center;
		color:white;
		display: flex;
		flex-wrap:wrap;
		flex-direction:column;
			transition:all .05s ease-in-out;
				transition-delay: .5s;
		h1 {
			margin: 0 0;
			flex:0%;
			text-align:left;
			
			padding:.5em;
			max-width: 10em;
			display:inline;
			margin: 0 auto;
		}
		p.writer {
			margin: 0 0;
		}
		p.info {
		}
		.img-wrapper {
			flex:40%;
			display:flex;
			flex-direction: column;
			justify-content: flex-end;
			img {
				width:15em;
				height:15em;
				transform:scale(0.3);
				margin: -3em auto -3em;
				border:3px solid white;
				border-radius:100%;
				animation-name:fingerprint;
				padding:0;
				animation-duration:1s;
				animation-iteration-count: infinite;
				background:#607d8b;
				animation-direction: alternate;
				transition:background .05s ;
			}
		}
	}
	&.showLogin {
		.overlay {
			height:0;
			overflow:hidden;
			padding: 0;
			img {
				animation-name:resize;
				background:white;
				border:none;
				animation-duration:1.5s;
				animation-iteration-count: 1;
			}
		}
		.loginRegister-wrapper {
			opacity:1;
			transition:opacity .7s ease-in-out;
			transition-delay: .5s;
			padding:2em;
			color:#00356B;
			display:flex;
			flex-wrap:nowrap;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			height:100%;
			box-sizing:border-box;
			h2 {
				margin: 0 0;
			}
		}
	}
}
// .start-wrapper {
// 	background:white;
// 	color:white;
// 	text-align:center;
// 	height:100vh;
// 	.loginRegister-wrapper {
// 		height:0;
// 		overflow: hidden;
// 		opacity:0;
// 	}
// 	.overlay {
// 	background:#2C3E50;
// 	position:relative;
// 	height:100%;
// 	transition:all .05s ease-in-out;
// 	transition-delay: .5s;
// 	display:flex;
// 	justify-content:center;
// 	flex-direction:column;
// 	flex-wrap:nowrap;
// 	box-sizing:border-box;
// 		&>* {
// 			margin: 0 0;
// 		}
// 		h1 {
// 			margin-top:3em;
// 			text-align:left;
// 		}
// 		img {
// 			width:15em;
// 			height:15em;
// 			transform:scale(0.3);
// 			margin: -1em auto -1em;
// 			border:3px solid white;
// 			border-radius:100%;
// 			animation-name:fingerprint;
// 			padding:0;
// 			animation-duration:1s;
// 			animation-iteration-count: infinite;
// 			background:#2C3E50;
// 			animation-direction: alternate;
// 			transition:background .05s ;
// 		}
// 		p.writer {
// 			position:absolute;
// 			top:1em;
// 			left:0;
// 			width:100%;
// 			text-align:center;
// 			opacity:.9;
// 		}
// 	}
// }
@keyframes resize {
	0%{transform: scale(1)}
	100%{transform: scale(30)}
}
@keyframes fingerprint {
	0% {transform: scale(.3)}
	10% {transform: scale(.35)}
	30% {transform: scale(.3)}
	100% {transform: scale(.3)}
}