#changeAdminSettings {
	background:#607d8b;
	position:absolute;
	right:1em;
	top:1em;
	color:white;
	padding:.5em 1em;
	border-radius:3px;


	img {
		max-height:1em;
		vertical-align:middle;
		margin-right:.5em;
	}
}

form.dataList, form.newWords {
	padding-bottom:2em;
	max-width:35em;
	background: #F2F2F2;
	margin: 0 auto;
	text-align:center;
	ul {
		padding: 0 0;
		text-align: left;
		list-style-type: none;
		
		& *:first-letter {
			text-transform: uppercase;
		}
		& > li {
			background: #F2F2F2;
			border-top:1px solid #EBEBEB;
			
			padding:1em 2em;
			&>span {
				color: #4e7789;
				
			}
			ul {
				list-style: none;
				border:1px solid #EBEBEB;
				padding: 0 0;
				margin-top:.6em;
				li {
					padding: 1em;
					background: white;
					input[type='text'] {
						font-size:.9em;
						padding:.2em .5em;
						
					}
				}
				&.geslacht {
					li input[type='text']:nth-of-type(odd) {
						float:right;
						text-align: right;
					}	
					p {
						
						padding: 0 .5em;
						span:nth-of-type(odd) {
							float:right;
						}

					}
				}
				&.dataList {
					
						span {
							color:#898989;
						}
						input[type='text']{
							float:right;
							
						}

					
				}
			}
			
		}
	}
}
form.newWords {
	padding:1em;

	h3 {
		margin-top:0;
	}
	input[type='text'] {
		font-size:.9em;
		padding:.2em .5em;
		margin:1em 0 2em;
		
	}
	input[type='submit'] {
		margin: 0 auto;
		display: block;
	}
}