@import '../../../client/stylesheets/vars';
.admin img {
	max-width: 2em;
}
.admin header {
	margin-top:5em;
}
.newChapter {
	width:100%;
	max-width:60em;
	margin:1em auto;
	box-sizing:border-box;
	justify-content:space-between;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	label {
		clear:both;
		flex:100%;
		margin: .5em 0;
	}
	input[type='text'] {
		padding:.5em;
		flex:70%;
		margin-right:2em;
		font-size: 1em;
	}
	input[type='submit'] {
		flex:20%;
		max-width: 10em;
		margin:  0 0;
	}
}
// }
.adminMessage {
	margin: 0 auto;
	max-width:30em;
}
.storyListAdmin{
	max-width:60em;
	margin: 0 auto;
	list-style:none;
	padding: 0 0;
	& > li {
		position: relative;
		border-bottom:1px solid $grey1;
		transition: all .2s ease-in-out;
		padding:.5em;
		list-style-type: none;
		span {
			padding:0 2em ;
			text-align: left;
		}
		a {
			display: inline-block;
		}
		img {
			padding:.3em;
			box-sizing:border-box;
			height:2em;
			vertical-align: middle;
		}
		&:hover {
			background:$grey1;
		}
		&.multi {
		}
	}
	a:not(.delete), span {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color:black;
		img {
			display: inline-block;
			margin-right:.5em;
		}
		span {
			display: inline-block;
			margin: 0 0;
		}
	}
}
li.single .delete {
	padding-right:1em;
}
a.delete {
	float:right;
	height:100%;
	display: inline-block;
	img {
		transition:all .2s ease-in-out;
	}
	&:hover img {
		  transform: scale(1.2);
	}
}
.duplicatesList {
	list-style-type: none;
	padding:  0 0;
	padding-left:4em;
	li > a {
		padding:.5em;
		display: block;
		width:100%;
		transition: all .2s ease-in-out;
		border-top:1px solid $grey1;
		&:hover {
			background:white;
		}
	}
	em {
		color:$grey7;
		font-style:normal;
		font-size: .8em;
	}
}
