main.admin {
	.admin-edit-story-wrapper {
		
		min-height:10em;
		height: 100%;
		padding-right:30em;
		position:relative;
		box-sizing:border-box;
		article {
			flex:50%;
			h4, p {
				&.deleting {
					text-decoration: line-through;
				}
				&.editing {
					background: #f5f5f5;
					color:#7f7f7f
				}
			}
			br {
				border:2px solid #bababa;
				margin: 0 auto;
				padding-top:.5em;
				&.deleting {
					background:#bababa;
				}
			}
		}
		aside {
			top:0;
			right:0;
			text-align: center;
			overflow-x:hidden;
			width: 30em;
			position:fixed;
			.storySettings {
				top:2.2em;
				left:-100%;
				&.active {
					left:0;
				}
			}
			.filters {
				top:2.2em;
				right:-100%;
				&.active {
					right:0;
				}
			}
			#storySettings {
				top:0;
				height:2.2em;
			}
			.storySettings, .filters , #storySettings {
				position:absolute;
				width:100%;
				box-sizing:border-box;
				transition:all .2s ease-in-out;
			}
		}
	}
}
.popup.confirm {
	section {
		padding:1em;
		
		height:70%;
		position:relative
	}
	button {
		position:absolute;
		bottom:1em;
		&:nth-of-type(odd){
			right:1em;
		}
		&:nth-of-type(even){
			right:5em;
		}
	}

}
ul.editList {
	list-style:none;
	padding: 0 0;
	
	margin:.5em;
	margin-bottom:2em;
	z-index:2;
	clear:both;
	display:inline-block;
	float:right;
	li {
		display: inline-block;

		 a {
		 	display:block;
		 	box-sizing:border-box;
			padding:.5em 1em;
			border-radius:20px;
			background:#ca2140;
			color:white;
			transition:all .2s ease-in-out;
			z-index:5;
			border:1px solid rgba(0,0,0,.0);
			text-decoration:none;

			&.during {
				background:#f5f5f5;
				border:1px solid #EBEBEB;
				color:grey;
			}
		}
	}
}
.movingAround {
	font-size:1em;
	padding: 0 0;
	list-style:none;
	margin: 0 0;
	display: inline-block;
	
	p {
		float:left;
		display: inline-block;
		padding: 0 0;
		margin: 0 0;
	}
	li {
		float:left;
		display: inline-block;
		border:none;
		padding: 0 0;
		margin: 0 0;
		font-family: 'Istok Web', sans-serif;
		background:#607d8b;	
		padding:.2em;
		&.up {
			margin-left:.2em;
			img {
				transform: rotate(90deg);
				
			}
		}
		&.down {
			margin-right:.2em;
			img {
				transform: rotate(-90deg);
				
			}
		}
	}

	img {
		max-width: 1.2em;
	}
}
// .movingAround {
// 	font-size:1em;
// 	padding: 0 0;
// 	list-style:none;
// 	background:#607d8b;
// 	margin: 0 0;
// 	display:none;

// 	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
// 	&.move {
// 			display:inline-block;
// 	}
// 	li {
// 		float:left;
// 		display: inline-block;
// 		padding:.5em;
// 		border:none;
// 		display: flex;
// 		justify-content: center;
// 		align-items:center;
// 		color:white;
// 		font-family: 'Istok Web', sans-serif;
		
		
		
// 		&.up {
// 			img {
// 				transform: rotate(90deg)
// 			}
// 		}
// 		&.down {
// 			img {
// 				transform: rotate(-90deg)
// 			}
// 		}
// 	}
// 	img {
// 		max-width: 1em;
// 	}
// }

// // .movingAround {
// // 	&.move {
// // 		display: block;
// // 	}
	
// // 	font-size:1em;
// // 	padding: 0 0;
// // 	list-style:none;
// // 	background:#607d8b;
// // 	margin: 0 0;
// // 	display:none;
// // 	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);

// // 	li {
// // 		display: inline-block;
// // 		padding:.5em;
// // 		float:left;
// // 		border:none;
// // 		display: flex;
// // 		justify-content: center;
// // 		align-items:center;
// // 		color:white;
// // 		font-family: 'Istok Web', sans-serif;
		
		
		
// // 		&.up {
// // 			img {
// // 				transform: rotate(90deg)
// // 			}
// // 		}
// // 		&.down {
// // 			img {
// // 				transform: rotate(-90deg)
// // 			}
// // 		}
// // 	}
// // 	img {
// // 		max-width: 1em;
// // 	}
// // }