$blue: #607d8b;
$blue-shade-darker: #6b8a99;

$green:#40ca21;

$grey1:#f5f5f5;
$grey2:#ebebeb;
$grey3:#d6d6d6;

$grey7:#939393;
$grey8: #666666;
$grey9: #313131;
$grey10: #1c1c1c;

$red:#ca2140;

$light-shadow-right:5px 0 14px 0 rgba(50, 50, 50, 0.24);
$light-shadow: 7px 7px 37px -5px rgba(0,0,0,0.1);
$light-shadow-down:0 5px 14px 0 rgba(50, 50, 50, 0.15);
$border-top-dark-bg: 1px solid #262626;

